<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>location</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Size yakın bölgelerdeki güvenli olmayan gıdaları gösterebilmek için konumunuza ihtiyacımız var.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Size yakın bölgelerdeki güvenli olmayan gıdaları gösterebilmek ve bildirim gönderebilmek için konumunuza ihtiyacımız var.</string>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>launch-screen-background</string>
        <key>UIImageName</key>
        <string>launch-screen-image</string>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>
</dict>
</plist> 